.main {
    margin-top: 100px; 
}

.logo-img {
    display: block;
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.search-input {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    line-height:24px;
    padding: 10px 30px;
    border:1px solid #dfe1e5;
    border-radius: 24px;
    /*
    Challenge: 
    Design the search field according to the spec
    */
    
}

.btn{
    width: 120px;
    line-height: 34.4px;
    margin-top: 25px;
    border: 0.8px;
    padding: 0px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

